-# Add this button where you want users to enable push notifications
-# For example, in user settings or top navigation

.push-notification-control.mb-3
  %button#notification-permission-button.btn.btn-primary
    %i.fa-solid.fa-bell
    Enable Push Notifications
