= turbo_frame_tag dom_id(post, "repost_form"),
class: dom_id(post, "repost_form") do
  - if current_user.has_reposted?(post)
    = render "reposts/unrepost_button", post: post
  - else
    = render "reposts/repost_button", post: post
