= button_to repost_path(post, repost: { post_id: post.id }), 
method: :delete, class: "btn btn-link delete-link",
form_class: "reposts-form", title: "Undo repost" do
  %i.fa-solid.fa-repeat.fa-xl.green
