.center.hero-unit
  %h1
    Welcome to
    %b.app_name Bullhorn
  .row
    .small-8.medium-6.large-4.columns.small-centered
      = image_tag 'bullhorn.svg'
  %br/
  = link_to 'Sign up now!', signup_path, class: 'button large'
