- provide(:title, 'About Us')
.row
  .small-12.columns
    %h1 About Us
    %p
      This started out as the Michael Hartl's tutorial on Ruby on Rails, but I have long since made so many
      changes to the original code that I can call it my own.
    = link_to image_pack_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org/'
    %p
      If you're interested in learning how to get started making your own websites, check out Learning
      \#{link_to '"Ruby on Rails"', 'http://rubyonrails.org/', target: '_blank'}
      with Michael Hartl's book,
      \#{link_to '"Ruby on Rails Tutorial"', 'http://ruby.railstutorial.org/', target: '_blank'}.
