<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p>
  Learning
  <%= link_to '"Ruby on Rails"', 'http://rubyonrails.org/', target: '_blank' %>
  with Michael Hartl's book,
  <%= link_to '"Ruby on Rails Tutorial"', 'http://ruby.railstutorial.org/', target: '_blank' %>.
</p>

<%= link_to image_tag('rails.png', alt: 'Rails'), 'http://rubyonrails.org/' %>
