- provide(:title, 'Contact')
.row
  .small-12.columns
    %h1 Contact Me
    %b Found a bug? Have a question? Just wanted to say hi?
    %br/
    Let me know at
    = mail_to 'tonywinslow13+bullhorn@gmail.com'
    \- ATTN: Anthony
