- provide(:title, 'Help')
.row
  .small-12.columns
    %h1 Help
    %p
      There really isn't much that you shouldn't know on this app. You sign up, or sign in.
      Goto your profile, then your home page to create and check posts from people you are following.
      Simple as that. You can also set up a user icon by uploading and image and setting it as the
      account profile photo.
    %p
      Sincerely,
      %br/
      Anthony
