= turbo_frame_tag @message do
  .modal
    .modal_content
      .row.center-content
        .col-12
          %h1 Editing message

          = render 'form', direct: @direct, message: @message

          = link_to 'Back', @direct
