= turbo_frame_tag "new_message" do
  .modal
    .modal_content
      .row.center-content
        .col-12
          = link_to @direct, class: "close-btn", title: 'Cancel' do
            %i.fa-solid.fa-xmark
          %h1 New message

          = render 'form', direct: @direct, message: @message
