%h1
  Newsletter - Issue: #{@news_letter.issue_number}
%p
  Dear Sky Patroler,
%p
  Just thought you might like to know, the latest
  %b Newsletter - Issue: #{@news_letter.issue_number}
  is now available.
%p
  = link_to 'Go check it out', @news_letter
%p
  .center{style: "text-align: center;"}
    = image_tag attachments['Crest.png'].url, width: '200'
