Newsletter - Issue: #{@news_letter.issue_number}

Dear Sky Patroler,

Just thought you might like to know, the latest
Newsletter - Issue: #{@news_letter.issue_number}
is now available.

= link_to 'Go check it out', @news_letter
