= form_for [micropost, Comment.new], html: { id: "new_comment_#{Comment.new.id}" },
remote: true do |f|
  .row
    .medium-8.large-12.columns
      = f.text_field :content, placeholder: 'Add a comment', class: 'comment_content',
      autocomplete: :off
