= link_to commentable, data: { turbo: false } do
  %i.fa-regular.fa-comment.fa-xl
  - if commentable.comments.any?
    %span.comments-count
      = pluralize(commentable.comments.count, "comment")
      