= turbo_frame_tag dom_id(commentable, :new_comment) do 
  = link_to new_polymorphic_path([ commentable, commentable.comments.build ]) do
    %i.fa-regular.fa-comment.fa-xl
    - if commentable.comments.exists?
      %span.comments-count
        = commentable.comments.count
