= link_to polymorphic_path(commentable.class.name.downcase, 
id: commentable.id, anchor: "new_comment"), data: { turbo: false } do
  %i.fa-regular.fa-comment.fa-xl
  - if commentable.comments.any?
    %span.comments-count
      = commentable.comments.count
      