- if @commentable.class.name == 'Micropost'
  var commentable = $(".add_new_comment_#{@commentable.id}");

- if @commentable.class.name == 'Comment'
  var commentable = $(".add_new_reply_#{@commentable.id}");

commentable.append("#{j render(@comment)}");
$('input.comment_content').val('');
$('.hiddenForm').css('display', 'none');
$("li#comment_#{@comment.id}").showFormOnClick();
