- provide :title, 'New comment'
.row.center-content
  .col-12.col-md-8
    .mb-3= render @commentable
    .links.mb-3
      = link_to path_to_commentable(@commentable), title: 'Back' do
        %i.fa-solid.fa-hand-point-left
        Back
    .mb-3= render 'form', commentable: @commentable, comment: @comment
    %h3 Comments
    = render 'comments/box', commentable: @commentable, comment: (@comment ||= nil)
    
