= form_with model: current_user.relationships.build,
id: dom_id(user, "follow_form") do |f|
  = f.hidden_field :followed_id, value: user.id
  .actions.mb-3
    = f.submit 'Follow', class: 'btn btn-primary btn-sm btn-extend'
