= turbo_stream.replace "recent_unread_count" do
  = render "notifications/count", user: user

= turbo_stream.prepend "unread_notifications_list" do
  = turbo_frame_tag notification, 
  src: new_frame_notifications_path(notification)
  