.row.center-content
  .col-12.col-md-8
    #notifications
      %h2 Notifications
      %p
        .links
          = link_to 'mark ALL as read', mark_all_as_read_notifications_path,
          title: 'mark ALL notifications as read', class: 'btn btn-primary', 
          data: { turbo_method: :patch }
          = link_to edit_notifications_path,
          title: 'Notification Settings', class: 'btn btn-primary' do
            %i.fa-solid.fa-gear
            Settings
      .notifications-box.d-flex.flex-column.mb-3
        - if @recent_notifications.any?
          %h6.list NEW
          #unread_notifications_list
            = render partial: "notifications/notification",
            collection: @recent_notifications
        - if @earlier_notifications.any?
          %h6.list EARLIER
          #unread_notifications_list
            = render partial: "notifications/notification",
            collection: @earlier_notifications
