= turbo_frame_tag dom_id(likeable, "who_liked"),
class: dom_id(likeable, "who_liked") do
  - if likeable.likes.any?
    = link_to path_to_who_liked(likeable) do
      = pluralize(number_to_human(likeable.likes.count), 'like')
