= button_to likes_path(like: { likeable_type: likeable.class.name, likeable_id: likeable.id }), 
class: "btn btn-link delete-link", 
form_class: "likes-form", title: "Like" do
  %i{class: "bi bi-heart black"}
