= button_to like_path(likeable, 
like: { likeable_type: likeable.class.name, likeable_id: likeable.id }), 
method: :delete, class: "btn btn-link delete-link", 
form_class: "likes-form", title: "Unlike" do
  %i.bi.bi-heart-fill
