- if user.avatar.attached?
  .avatar.mb-1
    = image_tag thumb_image(user.avatar)
.avatar-info
  .name.mb-1
    %h3= user.full_name
  - if user.profile.try(:graduated_in).present?
    .class_of.mb-1
      Class of
      = user.profile.graduated_in.strftime('%Y')
  .occupation= user.profile.occupation if user.profile.try(:occupation) && @show_occupation
