- unless current_user?(user)
  %div{id: "follow_form_#{user.id}"}
    - if current_user.following?(user)
      = render 'unfollow', user: user, button_size: @button_size
    - else
      = render 'follow', user: user, button_size: @button_size
