#search-box
  .row.center-content.mb-3
    .col-12.col-md-8
      = form_with method: :get, id: "users_search_form" do
        .ui-widget
          .input-group
            %span.input-group-text
              %i.fa-solid.fa-magnifying-glass
            = text_field_tag :search, params[:search], id: 'search_submit',
            class: 'form-control',
            data: { controller: "search-box-submit", autocomplete_source: search_users_path }
            = submit_tag 'Search Users', name: nil, class: 'btn btn-outline-primary'
