- provide(:title, 'Edit user')
%h1 Update your profile
.row
  .medium-6.columns.medium-offset-3
    = form_for @user do |f|
      = render 'fields', f: f
      = f.button 'Save changes', class: 'button large'
