= form_for(@micropost) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, placeholder: 'Compose new micropost...', maxlength: 1000, data:{ maximum_characters: 1000 }
  = f.button "Post", class: 'btn btn-large btn-primary'
  %span.countdown
