- provide :title, 'New company'

.row.center-content
  .col-12.col-md-8
    %h1 New company

    = render 'form'

    = link_to companies_path, title: 'Back' do
      = fa_icon 'hand-point-left', text: 'Back'
