- provide :title, 'Job listings'
.row
  .col-12
    = render 'job_listings/search_box'
.row
  .col-12
    %h1 Job listings
    = link_to 'Post new listing or manage your listings', companies_path, class: 'btn btn-primary'
.row{data: {equalizer: true, equalize_by_row: "true"}}
  - @job_listings.each do |job_listing|
    .col-12.col-md-6
      .callout{data: {equalizer_watch: true}}
        = link_to job_listing do
          = render 'job_listings/header', job_listing: job_listing
