- provide(:title, 'Full size photo')

.row
  .small-12.columns
    %h3
      Full size of photo
    %p
      %b Caption:
      = @photo.caption
    %p
      = link_to :back do
        = image_tag @photo.image
