- provide(:title, 'Photos')

%h1= photos_for(@user)

- if current_user?(@user)
  .row
    .small-12.columns
      = link_to 'Upload photos', new_user_photo_path(@user), class: 'button'

.row
  = render @photos.by_newest, user: @user
