.row
  .small-12.columns
    %p
      = link_to 'Edit', edit_photo_path(@photo)
      \|
      = link_to 'Back', album_path
    %p
      %b Caption:
      = @photo.caption
    %p= image_tag @photo.image.large
