= turbo_frame_tag @post do
  .modal
    .modal_content
      .row.center-content
        .col-12
          = link_to root_path(anchor: "post_#{@post.id}"), 
          class: "close-btn", title: 'Cancel' do
            %i.fa-solid.fa-xmark
          %h1 Editing post

          = render 'form', post: @post
