= turbo_frame_tag @post do
  .modal
    .modal_content
      .row.center-content
        .col-12
          = link_to @post, class: "close-btn", title: 'Cancel' do
            %i.fa-solid.fa-xmark
        .col-12
          - if @post.reposting
            %h1 Edit Repost
          - else
            %h1 Edit Post

          = render 'posts/form', post: @post
          - if @post.reposting
            %h3 Reposting Post
            = render @post.reposting, quoted_post_form: true
