= turbo_frame_tag @post do
  .modal
    .modal_content
      .row.center-content
        .col-12
          = link_to post_path(@post, "repost[#{:post_id}]" => @reposting.try(:id)), 
          class: "close-btn", title: 'Cancel' do
            %i.fa-solid.fa-xmark
        .col-12
          = render "posts/body", post: @post, reposting: @reposting, 
          formated_text: formated_text(@post), 
          attachments: attachments(@post), fullscreen: true
