= turbo_frame_tag "new_post" do
  .modal
    .modal_content
      .row.center-content
        .col-12
          - if @reposted
            = link_to select_reposts_path(repost: { post_id: @reposted.id }), 
            class: "close-btn", title: 'Close' do
              %i.fa-solid.fa-xmark
          - else
            = link_to root_path(new_link: true), class: "close-btn", 
            data: { turbo_stream: "new_post" }, title: 'Close' do
              %i.fa-solid.fa-xmark
          %h1 New post
          = render 'form', post: @post
