- provide(:title, 'Micropost')

.row
  .small-12.columns
    .microposts= render @micropost

    - if @profile_feed
      = link_to 'Back', user_path(@micropost.user, anchor: @micropost.id)
    - else
      = link_to 'Back', root_path(anchor: @micropost.id)