ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  z-index: 1050;
  margin: 0;
  padding: 0;
  border: solid 2px var(--autocomplete-border);
  cursor: default;
  li {
    background-color: var(--autocomplete-background);
    margin: 0;
    padding: 0 5px 0 5px;
    a {
      color: #000000;
      display: block;
      padding: 3px;
    }
    .ui-menu-item-wrapper.ui-state-active {
      background-color: var(--autocomplete-background-hover);
      padding: 0 5px 0 5px;
    }
  }
}
