#messages {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid var(--messages-border);
  background-color: var(--messages-background);
  border-radius: 10px;
  padding: 5px;
  overflow-anchor: none;
  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }
}

.messages {
  .callout {
    width: 90%;
  }

  .callout.current {
    // background-color: darkslategrey;
    margin-left: auto;
  }

  .callout.others {
    // background-color: darkolivegreen;
  }

  .post_user img {
    height: 33px;
    width: 33px;
    border: solid 1px var(--avatar-border);
    background-color: var(--avatar-background);
  }
}
