.simple-calendar {
  overflow-y: scroll;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: #00000000;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    min-width: 120px;
    padding: 6px;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 0px none #333333;
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #dddddd;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
  }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}
  // .wday-5 {}
  // .wday-6 {}

  .today {
    background: #FFFFC0
  }

  // .past {}
  // .future {}

  // .start-date {}

  .prev-month {
    background: #dddddd;
  }
  .next-month {
    background: #dddddd;
  }
  // .current-month {}

  // .has-events {}

  nav {
    a {
      color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
      padding-right: 20px;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .calendar-title {
    font-size: x-large;
  }
}
