.comments {
  display: block;
  padding: 10px 0 10px 0;
  border-top: 1px solid var(--comments-border);
  &:first-child {
    border-top: 0;
  }
  img {
    height: 33px;
    width: 33px;
    border: solid 1px var(--avatar-border);
    background-color: var(--avatar-background);
  }

  svg {
    height: 17px;
    width: 17px;
  }
}
.comments_box {
  background-color: var(--comments-background);
  border: 2px solid var(--comments-border);
  border-radius: 8px;
  padding: 10px;
}

.likes-form {
  display: contents;
}

.post-stats {
  a {
    padding: 6px 12px 6px 12px;
  }
}
