.comments {
  padding: 10px 0 10px 30px;
  border-top: 1px solid $comments-border;
  &:first-child {
    border-top: 0;
  }
  img {
    height: 25px !important;
    width: 25px !important;
  }

  svg {
    height: 17px !important;
    width: 17px !important;
  }
}
.comments_box {
  background-color: $comments-background;
  border: 1px solid $comments-border;
  border-radius: 8px;
  padding: 10px;
}
