// Color palette
$light-gray: #c6c9cb;
$dark-gray: #8a8a8a;
$black: #010101;
$white: #fefefe;
$tundora: #424242;
$gray: #868686;
$christine: #f26c09;
$silver: #c9c9c9;
$goldenrod: #fbcc6c;
$off-white: #fffff4;
$off-white-rgb: rgb(255, 255, 244);
$red: #ff0000;
$green: #008000;
$green-ting: #daf7da;
$ice-blue: #d4e6f0;
$dark-blue: #13395f;
$blue: #1d92e2;
$troy-blue: #1552a2;
$shakespear: #55acd9;
$blue-ting: #fafafb;

// Standards
$standard-font: $black;
$site-background: $off-white;
$delete-link-color: $red;
$background-color: $blue-ting;
$border-color: $light-gray;
$black-color: $black;
$white-color: $white;
$green-color: $green;
$red-color: $red;
$dark-gray-color: $dark-gray;


// Topbar
$topbar-background: $troy-blue;
$topbar-background-hover: $dark-blue;
$topbar-text: $off-white;
$topbar-text-hover: $ice-blue;
$topbar-logo: $off-white;
$topbar-logo-hover: $ice-blue;
$toggler-border: $off-white;
$toggler-clicked: $ice-blue;
$toggler-icon-color: $off-white-rgb;

// Subbar
$subbar-background: $ice-blue;
$subbar-text: $troy-blue;

// Callouts
$callout-background: $background-color;
$callout-border: $border-color;

// Notifications
$notifications-background: $background-color;
$notifications-border: $border-color;
$notifications-unread: $green-ting;

// Comments
$comments-background: $background-color;
$comments-border: $border-color;

// Autocomplete
$autocomplete-background: $background-color;
$autocomplete-background-hover: $green-ting;
$autocomplete-border: $border-color;

// Avatar
$avatar-background: $background-color;
$avatar-border: $border-color;
$no-avatar-background: $background-color;
$no-avatar-border: $border-color;

// Pagination
$pagination-text: $dark-gray;

// Modal
$modal-background: $site-background;
$modal-border: $border-color;


// Events
$event-response-background: $site-background;
$event-description-background: $site-background;
$event-border: $border-color;
