.directs {
  display: block;
  padding: 10px 0 10px 0;
  border-top: 1px solid var(--comments-border);
  &:first-child {
    border-top: 0;
  }
  
  .inline {
    display: inline-flex;
    gap: 15px;
    img {
      height: 33px;
      width: 33px;
      border: solid 1px var(--avatar-border);
      background-color: var(--avatar-background);
    }
  }
}
