.btn-extend {
  width: 100%;
}

.likes-form {
  display: contents;
}

.likes-count {
  margin-left: -10px;
}

.form-control, .form-check-input, .form-select, .input-group-text {
  border-color: $form-input-border;
}
