.notification {
  
  border-top: 1px solid var(--notifications-border);
  &:first-child {
    border-top: none;
  }
  padding: 10px 0 10px 30px;
  font-size: small;
  li {
    img {
      height: 40px;
    }
  }
  .post_user {
    img {
      height: 50px;
    }
  }
}

.notifications-box {
  background-color: var(--notifications-background);
  border: 1px solid var(--notifications-border);
  border-radius: 8px;
  padding: 10px;
}

.is_read_false {
  background-color: var(--notifications-unread);
}

.horizontal-buttons li {
  padding-right: 25px;
}

#notifications {
  .list {
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
  }
}
