.post, .event {
  .post_user {
    img {
      height: 50px;
    }
  }
  .content {
    display: block;
  }
}

.photo {
  padding-bottom: 10px;
}

.timestamp {
  color: var(--dark-gray-color);
}

.size-250 {
  max-height: 250px;
  max-width: 250px;
}
