.profile_head {
  .name, .class_of {
    line-height: 1;
    h3 {
      margin-bottom: 3px;
    }
  }
}

.index-card {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    min-height: 151px;
  }
  .avatar {
    display: inline-block;
    margin-right: 10px;
    img {
      width: 100px;
    }
  }
  &.callout {
    border: 1px solid $callout-border;
    border-radius: 15px;
  }
  .avatar-info {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    h3 {
      font-size: 140%;
      margin-bottom: 3px;
    }
  }
}

.avatar {
  img {
    border: 2px solid $avatar-border;
    border-radius: 50%;
  }
}

.profile_info {
  p {
    line-height: 1.2;
  }
  .info {
    padding-top: 10px;
    &:first-child {
      padding-top: 0;
    }
  }
}

.profile-stats {
  padding-bottom: 20px;
  .stat {
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    &:not(:first-child) {
      padding-left: 30px;
    }
    span {
      font-size: 120%;
    }
  }
}

.no_avatar {
  display: inline-block;
  height: 42px !important;
  width: 42px !important;
  border: solid 1px $no-avatar-border;
  background-color: $no-avatar-background;
  padding: 3px;
  vertical-align: middle;
}
