.profile_head {
  .name, .class_of {
    line-height: 1;
    h3 {
      margin-bottom: 3px;
    }
  }
  .avatar {
    display: inline-block;
    position: relative;
    img {
      width: 150px;
      height: 150px;
    }
    .avatar-status {
      position: absolute;
      top: -3px;
      left: -3px;
      svg {
        height: 1.1em;
      }
    }
  }
}

.index-card {
  overflow: hidden;
  @include media-breakpoint-up(md) {
    min-height: 151px;
  }
  .avatar {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    img {
      width: 100px;
      height: 100px;
    }
    .avatar-status {
      position: absolute;
      top: -6px;
      left: -6px;
    }
  }
  &.callout {
    border: 2px solid var(--callout-border);
    border-radius: 15px;
  }
  .avatar-info {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    h3 {
      font-size: 140%;
      margin-bottom: 3px;
    }
  }
}

.avatar {
  img {
    border: 2px solid var(--avatar-border);
    border-radius: 50%;
  }
}

.profile_info {
  p {
    line-height: 1.2;
  }
  .info {
    padding-top: 10px;
    &:first-child {
      padding-top: 0;
    }
  }
}

.profile-stats {
  padding-bottom: 20px;
  .stat {
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    &:not(:first-child) {
      padding-left: 30px;
    }
    span {
      font-size: 120%;
    }
  }
}
