- provide :title, 'Newsletters'
.row
  .col-12
    %h1 Listing Newsletters

    - if user_signed_in? && current_user.is_admin
      %ul.menu
        %li= link_to 'New Newsletter', news_letters_path, method: :post
        %li= link_to 'View Additional Recipients', additional_recipients_path

    = render @news_letters

    = paginate @news_letters
