.row
  .col-12.col-md-6.col-lg-4
    .center
      %h1 Bullhorn
      A place to shout to the world
  .col-12.col-md-6.col-lg-8
    = link_to 'Log in', user_session_path
    or
    = link_to 'Sign up', new_user_registration_path
    to get started
