- provide :title, 'Edit Resume'
.row.center-content
  .col-12.col-md-8
    %h1 New resume

    = render 'form'

    %ul.menu
      %li
        = link_to resumes_path do
          = fa_icon 'hand-point-left', text: 'Back'
