-# Mobile Web App Meta Tags
%meta{content: "yes", name: "apple-mobile-web-app-capable"}/
%meta{content: "yes", name: "mobile-web-app-capable"}/

-# PWA Meta Tags
%link{rel: "manifest", href: "/manifest.json"}/
%meta{content: "BullhornXL", name: "apple-mobile-web-app-title"}/
%meta{content: "#f2d4fd", name: "theme-color"}/
%meta{content: "#f2d4fd", name: "msapplication-TileColor"}/
%link{rel: "apple-touch-icon", href: "/icon-192.png"}/
